*{
    box-sizing: border-box;
}

.header{
    display: flexbox;
    height: 80px;
    margin-top: 0px;
    border: none;
    background-color:#b8b8b8;
    color:black;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0 3%;
}

.logoutButton{
    cursor: pointer;
    font:inherit;
    border: none;
    background-color: white;
    color:black;
    font-size: 25px;
    font-weight: 200;
    margin-right: 30px;
    padding: 8px 25px;
    border-radius: 10px;
}

